@*<style type="text/css">
        .menuchang {
            background-image: url('images/new.gif');
            background-repeat: no-repeat;
            padding-right: 5px;
            background-position: top;
        }

        .sf-menu li a {
            border-left: 1px solid #3E70CB
        }
    </style>

    <style>
        .sf-menu {
            width: 100%;
            text-transform:uppercase;
        }

            .sf-menu > li {
                display: inline-block;
                float: none;
            }
    </style>

    <div id="main-nav" class="navigation-bg" style="display: none;">
        @if (ViewBag.SiteMenuStaffType != null)
        {
            if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "AQ")
            {
                @Html.Partial("UserMenu/_AQMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "DS (COORD)")
            {
                @Html.Partial("UserMenu/_DSMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "JDS (R&R)")
            {
                @Html.Partial("UserMenu/_JDSRMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "JDS (ADM)")
            {
                @Html.Partial("UserMenu/_JDSADMMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "SECRETARY")
            {
                @Html.Partial("UserMenu/_SECYMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "COMDT")
            {
                @Html.Partial("UserMenu/_COMDTMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "GSO (SYS)")
            {
                @Html.Partial("UserMenu/_GSOMenu");
            }
            else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "SDS")
            {
                @Html.Partial("UserMenu/_SDSMenu");
            }
            else
            {
                @Html.Partial("UserMenu/_OtherMenu");
            }
        }
    </div>*@


<style>
    /* Sidebar container */
    #main-nav {
        display: block !important; /* Make sure it's visible */
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: #9b030c;
        padding-top: 20px;
        z-index: 1000;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    /* Reset menu style */
    .sf-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

        .sf-menu > li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        /* Increase height of menu items */
        .sf-menu li a {
            display: block;
            padding: 18px 20px; /* ⬅ Increased height */
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            transition: all 0.3s ease;
            border-left: none;
        }

            /* Hover effect: white background + black text */
            .sf-menu li a:hover {
                background: #fff;
                color: #000;
            }

        /* Submenu */
        .sf-menu li ul {
            display: none;
            list-style: none;
            background: #34495e;
            padding: 0;
            margin: 0;
        }

            .sf-menu li ul li a {
                padding-left: 40px;
                font-size: 14px;
            }

        /* Show submenu when parent has .active */
        .sf-menu li.active > ul {
            display: block;
        }

</style>

<!-- Sidebar with dynamic menu -->
<div id="main-nav" class="navigation-bg">
    @if (ViewBag.SiteMenuStaffType != null)
    {
        if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "AQ")
        {
            @Html.Partial("UserMenu/_AQMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "DS (COORD)")
        {
            @Html.Partial("UserMenu/_DSMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "JDS (R&R)")
        {
            @Html.Partial("UserMenu/_JDSRMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "JDS (ADM)")
        {
            @Html.Partial("UserMenu/_JDSADMMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "SECRETARY")
        {
            @Html.Partial("UserMenu/_SECYMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "COMDT")
        {
            @Html.Partial("UserMenu/_COMDTMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "GSO (SYS)")
        {
            @Html.Partial("UserMenu/_GSOMenu");
        }
        else if (ViewBag.SiteMenuStaffType.ToString().ToUpper() == "SDS")
        {
            @Html.Partial("UserMenu/_SDSMenu");
        }
        else
        {
            @Html.Partial("UserMenu/_OtherMenu");
        }
    }
</div>

<script>
    // Toggle submenu on click
    //document.addEventListener("DOMContentLoaded", function () {
    //    document.querySelectorAll(".sf-menu > li > a").forEach(link => {
    //        link.addEventListener("click", function (e) {
    //            let parentLi = this.parentElement;
    //            parentLi.classList.toggle("active");
    //            e.preventDefault();
    //        });
    //    });
    //});
</script>
