@model NDCWeb.View_Models.AlumniFeedbackCrtVM
@{
    ViewBag.Title = "Alumni Feedback";
}
<div class="container">
    <div class="card shadow">
        <div class="card-header">&nbsp;&nbsp; Feedback Form</div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.FullName)
            @Html.HiddenFor(model => model.EmailId)*@
            @*<div class="form-group col-md-12 form-row required">
                @Html.LabelFor(model => model.DepartmentSubject, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.DepartmentSubject, (IEnumerable<SelectListItem>)ViewBag.Department, "-- Select --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentSubject, "", new { @class = "text-danger" })
            </div>*@
            <div class="form-group col-md-12 form-row required">
                <label class="control-label" for="Comment">Your Feedback (Max character limit 200)</label>
                @Html.TextAreaFor(model => model.Comment, htmlAttributes: new { @class = "form-control editorHtml", rows = "3", maxlength = "200", autocomplete = "off", autocorrect = "off", value = "" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group col-md-12">
                @Html.Partial("_Captcha")
            </div>*@
            <div class="panel-footer bg-white text-center mb-5">
                <center>
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                    <a href="/alumni/home/" class="btn btn-primary btn-sm">Back</a>
                </center>
            </div>

        }
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}