@model IEnumerable<NDCWeb.Areas.Member.View_Models.SuggestionIndxVM>
@{
    ViewBag.Title = "List of Suggestion";
}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title
            <span class="pull-right">@Html.ActionLink("New Suggestion", "Create", null, new { @class = "btn btn-primary btn-sm" })</span>
        </div>
        <div class="card-body">
            <table class="table w-100" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SuggestionType)
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reply)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuggestionType)
                        </td>
                        <td>
                            @(item.CreatedAt!=null?item.CreatedAt.Value.ToString("dd/MM/yy"):"")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.Reply != null)
                            {
                                @(item.Reply)<br />
                                <span class="text-primary small"><strong>Replied on </strong>@(item.LastUpdatedAt!=null?item.LastUpdatedAt.Value.ToString("dd/MM/yy"):"")</span>
                            }
                            else
                            {
                                <strong>NA</strong>
                            }

                        </td>
                        <td>
                            @if (item.Status != null)
                            {
                                if (item.Status == "Pending")
                                {
                                    <div class="text-warning"> @Html.DisplayFor(modelItem => item.Status)</div>
                                }
                                else if (item.Status == "Work In Progress")
                                {
                                    <div class="text-primary"> @Html.DisplayFor(modelItem => item.Status)</div>
                                }
                                else if (item.Status == "Completed")
                                {
                                    <div class="text-success"> @Html.DisplayFor(modelItem => item.Status)</div>
                                }
                                else if (item.Status == "Rejected")
                                {
                                    <div class="text-danger"> @Html.DisplayFor(modelItem => item.Status)</div>
                                }
                            }
                            else
                            {
                                <strong>NA</strong>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        LoadJDTNoSort('myTable');
    </script>
}