@model IEnumerable<NDCWeb.Areas.Staff.View_Models.TrainingActivityIndxVM>
@using NDCWeb.Infrastructure.Extensions;
@{
    ViewBag.Title = "Trg Activities";
}

<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title
            <span class="pull-right"> @Html.ActionLink("Create Activity", "Create", null, new { @class = "btn btn-primary btn-sm" })</span>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered tab w-100" id="myTable">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            @Html.DisplayName("Modules")
                        </th>
                        <th>
                            @Html.DisplayName("Category")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            From Date
                        </th>
                        <th>
                            To Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrainingActivityId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Module)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @if (item.FromDate != null)
                                {
                                    @item.FromDate.Value.ToString("dd MMM yyyy");
                                }
                            </td>
                            <td>
                                @if (item.ToDate != null)
                                {
                                    @item.ToDate.Value.ToString("dd MMM yyyy");
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>

                            <td>
                                @Html.EncodedActionLink("", "ShowMediaFiles", "TrainingActivity", "staff", new { id = item.TrainingActivityId }, new { @class = "" }, "fa fa-eye")|
                                @Html.EncodedActionLink("", "Edit", "TrainingActivity", "staff", new { id = item.TrainingActivityId }, new { @class = "" }, "fa fa-edit")|
                                @*<a class="btn btn-outline-primary" href="@Url.Action("ShowMediaFiles", new { id = item.TrainingActivityId })" target="_blank"><i class="fa fa-eye"></i></a> |
                                <a href="@Url.Action("Edit", new { id = item.TrainingActivityId })"><i class="fa fa-edit"></i></a> |*@
                                <button type="button" class="btn btn-transparent red btn-xs" onclick="Delete(@item.TrainingActivityId, this)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p>

    </p>
</div>
@section Scripts {
    <script>
    LoadJDTSorted('#myTable');
    function Delete(id, event) {
        var TableId = "#myTable";
        var Jsonurl = '@Url.Action("DeleteOnConfirm")';
        DeleteJDTRow(id, event, TableId, Jsonurl)
    }
    </script>
}