@model NDCWeb.Areas.Member.View_Models.ArrivalDetailCrtVM

@{
    ViewBag.Title = "Arrival Details";
}
<div class="clearfix pt-2"></div>
<div class="container mb-4 mt-4">
    <div class="card">
        <div class="card-header">
            Arrival Details
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.ArrivaAt, htmlAttributes: new { @class = "control-label" })
                            <select class="form-control" id="ArrivaAt" name="ArrivaAt">
                                <option>--Select--</option>
                                <option>Raksha Bhawan</option>
                                <option>Vikram Vihar</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.ArrivalDate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ArrivalDate, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.ArrivalDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                            @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.ArrivalMode, htmlAttributes: new { @class = "control-label" })
                            <select class="form-control" id="ArrivalMode" name="ArrivalMode">
                                <option>--Select--</option>
                                <option>By Air</option>
                                <option>By Road</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.TransportationMode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.TransportationMode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TransportationMode, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.AssistanceRequired, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.AssistanceRequired, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssistanceRequired, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Accompanied Person(s)
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <Label class="control-label">Name </Label>
                                    <input type="text" name="meName" id="meName_1" class="form-control" autocomplete="off" placeholder="Name">
                                </div>
                                <div class="form-group col-md-1">
                                    <Label class="control-label">Age </Label>
                                    <input type="text" name="meAge" id="meAge_1" class="form-control" autocomplete="off" placeholder="Age">
                                </div>
                                <div class="form-group col-md-2">
                                    <Label class="control-label">Relationship</Label>
                                    <input type="text" name="meRelation" id="meRelation_1" class="form-control" autocomplete="off" placeholder="Relationship">
                                </div>
                                <div class="form-group col-md-4">
                                    <Label class="control-label">Remarks</Label>
                                    <input type="text" name="meRemarks" id="meRemarks_1" class="form-control" autocomplete="off" placeholder="Remarks">
                                </div>
                            </div>
                            <div id="new_acc"></div>
                            <input type="hidden" value="1" id="total_acc">
                            <div class="form-row">
                                <div class="form-group">
                                    <Label class="control-label pb-1" style="width:100%"></Label>
                                    <button type="button" class="add-Pers btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Add Person</button>
                                    <button type="button" class="remove-Pers btn btn-outline-danger ml-2 btn-sm"><i class="fa fa-minus"></i> Remove Person</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-header">
                            Meals
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <input type="text" name="meDate" id="meDate_1" class="form-control datepickerJq1" autocomplete="off" placeholder="Date">
                                </div>
                                <div class="form-group col-md-2">
                                    <Label class="control-label">Breakfast </Label>
                                    <input type="checkbox" name="meBreakfast" id="meBreakfast_1" class="custom-checkbox">
                                </div>
                                <div class="form-group col-md-2">
                                    <Label class="control-label">Lunch</Label>
                                    <input type="checkbox" name="meLunch" id="meLunch_1" class="custom-checkbox">

                                </div>
                                <div class="form-group col-md-2">
                                    <Label class="control-label">Dinner</Label>
                                    <input type="checkbox" name="meDinner" id="meDinner_1" class="custom-checkbox">

                                </div>
                            </div>
                            <div id="new_me"></div>
                            <input type="hidden" value="1" id="total_me">
                            <div class="form-row">
                                <div class="form-group">
                                    <Label class="control-label pb-1" style="width:100%"></Label>
                                    <button type="button" class="add-Meal btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Add meal</button>
                                    <button type="button" class="remove-Meal btn btn-outline-danger ml-2 btn-sm"><i class="fa fa-minus"></i> Remove meal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-header" style="background-color:#fff">
                            <span class="font-weight-bold" style="color:red">Important</span>
                        </div>
                        <div class="card-body text-justify">
                            <p id="passport_instruction_indian">
                                <u><b>Mess Detachment</b></u><br />
                                In order to facilitate smooth settling down the NDC Mess operates a detachment for residents of Raksha Bhawan (RB) and Vikram Vihar (VV), for a week at the begining of the Course.
                                Depending upon the allotment of accommodation, the detachment details from interested Course Members is sought.
                            </p>
                            <p class="font-weight-bold" style="color:red">
                                Please provide RT PCR test of persons accompanying on arrival.
                            </p>
                        </div>
                    </div>
                    <div class="form-group text-center mt-2">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Create" class="btn btn-default" />*@
                            <button id="btnSave" onclick="AddArrivals()" class="btn btn-primary btn-lg">Submit</button>
                            <a class="details btn btn-primary btn-lg" href="#" onclick="viewAck()"><i class="fa fa-eye"></i> Preview</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
                // #region Meal
                function storeMeal() {
                    let ttlme = $('#total_me').val();
                    let meals = [];
                    for (i = 1, j = 0; i <= ttlme; i++, j++) {
                        meals[j] = {
                            Date: $('#meDate_' + i).val(),
                            Breakfast: document.getElementById('meBreakfast_' + i).checked,
                            Lunch: document.getElementById('meLunch_' + i).checked,
                            Dinner: document.getElementById('meDinner_' + i).checked,
                        };
                    }
                    return meals;
                }
                $('.add-Meal').on('click', addMeal);
                $('.remove-Meal').on('click', removeMeal);
                function addMeal() {
                    let new_me_no = parseInt($('#total_me').val()) + 1;
                    let new_inputMe = `<div id="Meal_${new_me_no}" class="form-row">
                                                               <div class="form-group col-md-2">
                                                                   <input type="text" name="meDate" id="meDate_${new_me_no}" class="form-control datepickerJq1" autocomplete = "off" placeholder="Date">
                                                               </div>
                                                               <div class="form-group col-md-2">
                                                                  <Label class="control-label">Breakfast </Label>
                                                                   <input type="checkbox" name="meBreakfast" id="meBreakfast_${new_me_no}" value="true" class="custom-checkbox">
                                                               </div>
                                                               <div class="form-group col-md-2">
                                                                  <Label class="control-label">Lunch </Label>
                                                                       <input type="checkbox" name="meLunch" id="meLunch_${new_me_no}" value="true" class="custom-checkbox">
                                                               </div>
                                                               <div class="form-group col-md-2">
                                                                  <Label class="control-label">Dinner </Label>
                                                                       <input type="checkbox" name="meDinner" id="meDinner_${new_me_no}" class="custom-checkbox">
                                                               </div>
                                                           </div>`
                    $('#new_me').append(new_inputMe);
                    $('#total_me').val(new_me_no);
                }
                function removeMeal() {
                    let last_me_no = $('#total_me').val();

                    if (last_me_no > 1) {
                        $('#Meal_' + last_me_no).remove();
                        $('#total_me').val(last_me_no - 1);
                    }
                }
                // #endregion
                // Region Accompanied Members
                function storeMembers() {
                    let ttlmem = $('#total_acc').val();
                    let members = [];
                    for (i = 1, j = 0; i <= ttlmem; i++, j++) {
                        members[j] = {
                            FullName: $('#meName_' + i).val(),
                            Age: document.getElementById('meAge_' + i).checked,
                            Relation: document.getElementById('meRelation_' + i).checked,
                            Remarks: document.getElementById('meRemarks_' + i).checked,
                        };
                    }
                    return members;
                }
                $('.add-Pers').on('click', addMember);
                $('.remove-Pers').on('click', removeMember);
                function addMember() {
                    let new_mem_no = parseInt($('#total_acc').val()) + 1;
                    let new_inputMem = `<div id="Mem_${new_mem_no}" class="form-row">
                                                               <div class="form-group col-md-4">
                                                                   <input type="text" name="meName" id="meName_${new_mem_no}" class="form-control" autocomplete = "off" placeholder="Name">
                                                               </div>
                                                               <div class="form-group col-md-1">
                                                                   <input type="text" name="meAge" id="meAge_${new_mem_no}" class="form-control" autocomplete = "off" placeholder="Age">
                                                               </div>
                                                               <div class="form-group col-md-2">
                                                                       <input type="text" name="meRelation" id="meRelation_${new_mem_no}" class="form-control" autocomplete = "off" placeholder="Relation">
                                                               </div>
                                                               <div class="form-group col-md-4">
                                                                       <input type="text" name="meRemarks" id="meRemarks_${new_mem_no}" class="form-control" autocomplete = "off" placeholder="Relation">
                                                               </div>
                                                           </div>`
                    $('#new_acc').append(new_inputMem);
                    $('#total_acc').val(new_mem_no);
                }
                function removeMember() {
                    let last_mem_no = $('#total_acc').val();

                    if (last_mem_no > 1) {
                        $('#Mem_' + last_mem_no).remove();
                        $('#total_acc').val(last_mem_no - 1);
                    }
                }
                // #endregion
    function FillArrival() {
        let arrival = {
            ArrivaAt: $("#ArrivaAt").val(),
            ArrivalDate: $("#ArrivalDate").val(),
            ArrivalTime: $("#ArrivalTime").val(),
            ArrivalMode: $("#ArrivalMode").val(),
            TransportationMode: $("#TransportationMode").val(),
            AssistanceRequired: $("#AssistanceRequired").val(),

            iArrivalMeals: storeMeal(),
            iArrivalAccompanied: storeMembers(),
        }
        return arrival;
    }
    function AddArrivals() {
        if ($("form").valid()) {
            let ArrivalData = FillArrival();
            $.ajax({
                type: 'post',
                url: '/api/courseMembers/Arrival',
                data: ArrivalData,
                datatype: 'json',
                success: function (data, textStatus, xhr) {
                    alert("success");
                    //alert(xhr.getResponseHeader('location'));
                },
                error: function () {
                    alert('Operation Failed!')
                }
            })
        }
    }
                //Region
    function viewAck() {
        let AccMember = FillArrival();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ArrivalAck")',
            data: { modal: AccMember },
            //contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#dialog').html(response);
                $('#dialog').dialog('open');
            },
            failure: function (response) {
                alert('Operation Failed!');
            },
            error: function (response) {
                alert('Server Not Found!');
            }
        });
    }

        $(function () {
            $("#dialog").dialog({
                title: 'Review: - Arrival Details',
                autoOpen: false,
                //maxWidth: 800,
                //maxHeight: 700,
                width: 960,
                height: 700,
                modal: true,
                buttons: {
                    Ok: function () {
                        //Add();
                        $("[id*=btnSave]").click();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                }
            });
        });

                //End Region
    </script>
}


