@model NDCWeb.Areas.Member.View_Models.CourseMemberCrtVM

<div>
    <h4>CourseMemberCrtVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ranks.RankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranks.RankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJoining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJoining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOSeniority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOSeniority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOMarriage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOMarriage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptDesignation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptDesignation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptOrganisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptOrganisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentHomeTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentHomeTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentHomeTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentHomeTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffcTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffcTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StayBySpouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StayBySpouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Undertaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Undertaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

    </dl>
</div>

