@model NDCWeb.Areas.Admin.View_Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="page-body">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.Title</h5>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="card-header-right">
                    <i class="icofont icofont-rounded-down"></i>
                    <a href="@Url.Action("Index", "Home")" title="Click here to close this form"><i class="icofont icofont-arrow-left"></i></a>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.hdns)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-primary m-b-0" />
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @{string rgf = Guid.NewGuid().ToString("n").Substring(0, 8);}
    <script type="text/javascript" src="~/Areas/Admin/Component/scripts/ccryptft.js?v=@rgf"></script>
    <script type="text/javascript" src="~/Areas/Admin/Component/scripts/ccryptimp.js?v=@rgf"></script>
    <script>
        function trim(stringToTrim) {
            return stringToTrim.replace(/^\s+|\s+$/g, "");
        }
        function validatePassword() {
            var p = document.getElementById('ConfirmPassword').value,
                errors = [];
            if (p.length < 8) {
                errors.push("Your password must be at least 8 characters");
            }
            if (p.search(/[a-z]/i) < 0) {
                errors.push("Your password must contain at least Lower Case letter.");
            }
            if (p.search(/[0-9]/) < 0) {
                errors.push("Your password must contain at least one digit.");
            }
            if (p.search(/[A-Z]/i) < 0) {
                errors.push("Your password must contain at least one upper case letter.");
            }
            if (p.search(/[!#$%&?"]/) < 0) {
                errors.push("Your password must contain at least one special character.");
            }

            if (errors.length > 0) {
                alert(errors.join("\n"));
                return false;
            }

            ChangePas();
            return true;
        }

        function performCheck() {
            var retVal = confirm("Are you sure you want to change current password ?");
            if (retVal == true) {
                validatePassword();
                return true;
            }
            else {
                return false;
            }

        }
    </script>
}
