@*@model IEnumerable<NDCWeb.Areas.Member.View_Models.SpouseChildrenIndxVM>*@
@model IEnumerable<NDCWeb.Models.SpouseChildren>

@*<div class="card mt-4">
    <div class="card-header">
        CHILDREN DETAILS
    </div>
    <div class="card-body">*@
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr class="bg-light">
                    <td class="juipfname">ChildName</td>
                    <td class="juipfname">Date Of Birth</td>
                    <td class="juipfname">Gender</td>
                    <td class="juipfname">Occupation</td>
                    <td class="juipfname">Living With You</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="juipfvalue">@Html.DisplayFor(modelItem => item.ChildName)</td>
                        <td class="juipfvalue">@item.DOBirth.ToString("dd MMM yyyy")</td>
                        <td class="juipfvalue">@Html.DisplayFor(modelItem => item.Gender)</td>
                        <td class="juipfvalue">@Html.DisplayFor(modelItem => item.Occupation)</td>
                        <td class="juipfvalue">@Html.DisplayFor(modelItem => item.StayWithMember)</td>
                    </tr>
                }
            </tbody>
        </table>
    @*</div>
</div>*@


