@model NDCWeb.Areas.Member.View_Models.VisaDetailCrtVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card mt-4">
        <div class="card-header" style="background-color:#fff">
            VISA DETAILS (FOREIGN OFFICERS, SPOUSES, AND CHILDREN ONLY)
        </div>
        <div class="card-body text-justify">
            <p><span class="font-weight-bold" style="color:red">Important</span></p>
            <p>
                <u><b>Multiple Entry VISAs</b></u><br />
                Officers are advised to ensure that they are in possession of the following for themselves and their familiy membersaccompanying them:-
                <ol>
                    <li>Assignment/Official/diplomatic passport with Multiple entry VISA.</li>
                    <li>VISA for stay in India up to <b>31 Mar 2022</b>.</li>
                </ol>
            </p>

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#fff">
            VISA DETAILS (SELF)
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Entry Type</label>
                    @Html.DropDownListFor(model => model.VisaEntryType, (IEnumerable<SelectListItem>)ViewBag.VisaEntryType, "-- Select --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VisaEntryType, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Visa No</Label>
                    @Html.EditorFor(model => model.VisaNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VisaNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Date of Issue</Label>
                    @Html.EditorFor(model => model.VisaIssueDate, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.VisaIssueDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Valid Upto</Label>
                    @Html.EditorFor(model => model.VisaValidUpto, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.VisaValidUpto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <label>Upload Visa images (Front and Back) </label>
                    <input id="visaPicfile" type="file" title="Upload Your Visa" name="selfFRROPicfile" onchange="imgValidateEdit('visaPicfile', 'VisaPath')" class="uploadify-button form-control-file" accept="image/jpeg,image/png" />
                    <p class="text-info">Max size 250 KB, File Type (.jpg, .jpeg, .png)</p>
                    @Html.EditorFor(model => model.VisaPath, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#fff">
            VISA DETAILS (SPOUSE)
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Entry Type</label>
                    @Html.DropDownListFor(model => model.VisaEntryType, (IEnumerable<SelectListItem>)ViewBag.VisaEntryType, "-- Select --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VisaEntryType, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Visa No</Label>
                    @Html.EditorFor(model => model.VisaNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VisaNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Date of Issue</Label>
                    @Html.EditorFor(model => model.VisaIssueDate, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.VisaIssueDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Valid Upto</Label>
                    @Html.EditorFor(model => model.VisaValidUpto, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.VisaValidUpto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <label>Upload Visa images (Front and Back) </label>
                    <input id="visaPicfile" type="file" title="Upload Your Visa" name="selfFRROPicfile" onchange="imgValidateEdit('visaPicfile', 'VisaPath')" class="uploadify-button form-control-file" accept="image/jpeg,image/png" />
                    <p class="text-info">Max size 250 KB, File Type (.jpg, .jpeg, .png)</p>
                    @Html.EditorFor(model => model.VisaPath, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header" style="background-color:#fff">
            VISA DETAILS (CHILDREN)
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Entry Type</label>
                    @Html.DropDownListFor(model => model.VisaEntryType, (IEnumerable<SelectListItem>)ViewBag.VisaEntryType, "-- Select --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VisaEntryType, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Visa No</Label>
                    @Html.EditorFor(model => model.VisaNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VisaNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Date of Issue</Label>
                    @Html.EditorFor(model => model.VisaIssueDate, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.VisaIssueDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Valid Upto</Label>
                    @Html.EditorFor(model => model.VisaValidUpto, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.VisaValidUpto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <label>Upload Visa images (Front and Back) </label>
                    <input id="visaPicfile" type="file" title="Upload Your Visa" name="selfFRROPicfile" onchange="imgValidateEdit('visaPicfile', 'VisaPath')" class="uploadify-button form-control-file" accept="image/jpeg,image/png" />
                    <p class="text-info">Max size 250 KB, File Type (.jpg, .jpeg, .png)</p>
                    @Html.EditorFor(model => model.VisaPath, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <Label class="control-label" style="width:100%">Add/Remove</Label>
                <button type="button" class="add-ChildPassport btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i>Add</button>
                <button type="button" class="remove-ChildPassport btn btn-outline-danger ml-2 btn-sm"><i class="fa fa-minus"></i>Remove</button>
            </div>
        </div>
    </div>


    <div class="card mt-4">
        <div class="card-header" style="background-color:#fff">
            FRRO (SELF)
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <Label class="control-label">FRRO No</Label>
                    @Html.EditorFor(model => model.SelfFRRONo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelfFRRONo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Date of Issue</Label>
                    @Html.EditorFor(model => model.SelfIssueDate, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.SelfIssueDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Valid Upto</Label>
                    @Html.EditorFor(model => model.SelfValidUpto, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.SelfValidUpto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <label>Upload FRRO Images: </label>
                    <input id="selfFRROPicfile" type="file" title="Upload Your Self FRRO" name="selfFRROPicfile" onchange="imgValidateEdit('selfFRROPicfile', 'SelfFRROPath')" class="uploadify-button form-control-file" accept="image/jpeg,image/png" />
                    <p class="text-info">Max size 250 KB, File Type (.jpg, .jpeg, .png)</p>
                    @Html.EditorFor(model => model.SelfFRROPath, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                </div>
            </div>
        </div>

    </div>
    <div class="card mt-4">
        <div class="card-header" style="background-color:#fff">
            FRRO SPOUSE
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <Label class="control-label">FRRO No</Label>
                    @Html.EditorFor(model => model.SpouseFRRONo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpouseFRRONo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Date of Issue</Label>
                    @Html.EditorFor(model => model.SpouseIssueDate, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.SpouseIssueDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    <Label class="control-label">Valid Upto</Label>
                    @Html.EditorFor(model => model.SpouseValidUpto, new { htmlAttributes = new { @class = "form-control datepickerJq1", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.SpouseValidUpto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <label>Upload FRRO Images: </label>
                    <input id="spouseFRROPicfile" type="file" title="Upload Your Spouse FRRO" name="spouseFRROPicfile" onchange="imgValidateEdit('spouseFRROPicfile', 'SpouseFRROPath')" class="uploadify-button form-control-file" accept="image/jpeg,image/png" />
                    <p class="text-info">Max size 250 KB, File Type (.jpg, .jpeg, .png)</p>
                    @Html.EditorFor(model => model.SpouseFRROPath, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                </div>
            </div>
        </div>
    </div>


    <div class="form-group mt-4 text-center">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="btnSaveVisa" value="Submit" onclick="addVisa()" class="btn btn-primary btn-lg" />
        </div>
    </div>

</div>

}

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        getDatepickerf1('.datepickerJq1');
    });
    function fillVisaDetail() {
        let visa = {
            VisaEntryType: $("#VisaEntryType").val(),
            VisaNo: $("#VisaNo").val(),
            VisaIssueDate: $("#VisaIssueDate").val(),
            VisaValidUpto: $("#VisaValidUpto").val(),
            SelfFRRONo: $("#SelfFRRONo").val(),
            SelfIssueDate: $("#SelfIssueDate").val(),
            SelfValidUpto: $("#SelfValidUpto").val(),
            SpouseFRRONo: $("#SpouseFRRONo").val(),
            SpouseIssueDate: $("#SpouseIssueDate").val(),
            SpouseValidUpto: $("#SpouseValidUpto").val(),

            VisaPath: $("#VisaPath").val() || '#',
            SelfFRROPath: $("#SelfFRROPath").val() || '#',
            SpouseFRROPath: $("#SpouseFRROPath").val() || '#',
        }
        return visa;
    }
    function addVisa() {
        if ($("form").valid()) {
            let visa = fillVisaDetail();
            $.ajax({
                type: 'post',
                url: '/api/courseMembers/Visa',
                data: visa,
                datatype: 'json',
                success: function (data, textStatus, xhr) {
                    displayTab('VisaPartial');
                },
                error: function () {
                    alert('Operation Failed!')
                }
            })
        }
    }
</script>

