@model IEnumerable<NDCWeb.Areas.Staff.View_Models.SpeechEventIndxVM>

@{
    ViewBag.Title = "List of Speech";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title
            @*<a href="/staff/Speakers/create" class="btn btn-primary btn-sm pull-right">Add Speaker</a>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm pull-right" })*@
            @*<a href="/staff/feedbacks/speechfeedbacklist" class="btn btn-primary btn-sm pull-right">Speaker Feedback</a>*@
            @*<a href="/staff/feedbacks/speechfeedbacklist" class="btn btn-primary btn-sm pull-right">View Feedback by Participants</a>*@
            <a href="/staff/speechevent/create" class="btn btn-primary btn-sm pull-right">Create</a>
        </div>
        <div class="card-body">
            <table class="mb-0 table table-hover table-bordered tab w-100" id="myTable">
                <thead>
                    <tr>
                        <th style="vertical-align:middle">
                            @Html.DisplayNameFor(model => model.SpeechDate)
                        </th>
                        <th style="vertical-align:middle">
                            @Html.DisplayName("Subject")
                        </th>
                        <th style="vertical-align:middle">
                            @Html.DisplayName("Topic")
                        </th>
                        <th style="vertical-align:middle">
                            @Html.DisplayName("Speaker")
                        </th>
                        <th style="vertical-align:middle">
                            @Html.DisplayNameFor(model => model.FeedbackStartDate)
                        </th>
                        <th style="vertical-align:middle">
                            @Html.DisplayNameFor(model => model.FeedbackEndDate)
                        </th>
                        <th style="vertical-align:middle">
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th style="vertical-align:middle">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpeechDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Speakers.Topics.Subjects.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Speakers.Topics.TopicName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Speakers.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FeedbackStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FeedbackEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.SpeechEventId }) | @Html.ActionLink("Details", "Details", new { id = item.SpeechEventId }) |*@
                            <button type="button" class="btn btn-transparent btn-xs text-danger" onclick="Delete(@item.SpeechEventId, this)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
    LoadJDT('#myTable');

    function Delete(id, event) {
        var TableId = "#myTable";
        var Jsonurl = '@Url.Action("DeleteOnConfirm")';
        DeleteJDTRow(id, event, TableId, Jsonurl)
    }
    </script>
}