
<!DOCTYPE html>
<html lang="en">
<head id="Head1">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Alumni: National Defence College</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Component/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Member/Component/css/style.css" />
    <link rel="stylesheet" href="~/Areas/Member/Component/css/main.css" />
    <link rel="stylesheet" href="~/Component/css/index.css" />
    <link rel="icon" href="/images/NDC-Logo.png" type="image/x-icon">
    <link href="~/Component/dataTable4/css/select2.min.css" rel="stylesheet" />
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @{
        var timeoutMinutes = Session.Timeout;
    }

</head>

<body id="fontSize">
    @Html.Partial("_Header")

    @if (ViewBag.SiteMenuItems == null)
    {
        @Html.Partial("_UserMenu");
    }
    else
    {
        @Html.Partial("_StaticMenu");
    }
    <div class="main-area">
        <div class="content">
            @Html.Partial("_Notifications")
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer");

    <!-- Core JS -->
    <script src="~/Component/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/Component/js/bootstrap.bundle.min.js"></script>

    <!-- Plugins -->
    <script src="~/Component/js/jquery.flexisel.js"></script>
    <script src="~/Component/js/jquery.cycle.all.min.js"></script>
    <script src="~/Component/js/superfish.min.js"></script>
    <script src="~/Component/js/imagelightbox.min.js"></script>
    <script src="~/Component/js/jquery.meanmenu.js"></script>

    <!-- Toastr -->
    <script src="~/Component/js/toastr.min.js"></script>
    @*<script src="~/Component/js/toastr-config.js"></script>*@

    <!-- Custom -->
    <script src="~/Component/js/custom.js"></script>
    <script src="~/Component/js/font-size.js"></script>
    <script src="~/Component/dataTable4/js/select2.min.js"></script>
    <script src="~/Component/dataTable4/js/jquery.dataTables.min.js"></script>

    <script>
        document.querySelectorAll(".sidebar .has-sub > a").forEach(menu => {
            menu.addEventListener("click", function (e) {
                e.preventDefault();
                let parent = this.parentElement;
                document.querySelectorAll(".sidebar .has-sub").forEach(el => {
                    if (el !== parent) {
                        el.classList.remove("open");
                        el.querySelector("ul").style.display = "none";
                    }
                });
                let submenu = parent.querySelector("ul");
                if (parent.classList.contains("open")) {
                    submenu.style.display = "none";
                    parent.classList.remove("open");
                } else {
                    submenu.style.display = "block";
                    parent.classList.add("open");
                }
            });
        });

        /*For responsive Mobile device*/
        document.addEventListener("DOMContentLoaded", function () {
            const toggle = document.querySelector(".menu-toggle");
            const sidebar = document.querySelector(".sidebar");

            if (toggle && sidebar) {
                toggle.addEventListener("click", function () {
                    sidebar.classList.toggle("active");
                });
            }
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var remainingSeconds = 60 * 60; // 1 hour = 3600 seconds
            var remainingTimeEl = document.getElementById("remainingTime");
            var logoutForm = document.getElementById("logoutForm");

            function updateRemaining() {
                if (remainingSeconds <= 0) {
                    remainingTimeEl.innerText = "Time Out";
                    if (logoutForm) {
                        logoutForm.submit(); // auto logout
                        window.location.href = '/Auth/Login'; // redirect to login
                    }
                    return;
                }

                var minutes = Math.floor(remainingSeconds / 60);
                var seconds = remainingSeconds % 60;
                remainingTimeEl.innerText =
                    minutes + "m " + (seconds < 10 ? "0" : "") + seconds + "s left";

                remainingSeconds--;
            }

            setInterval(updateRemaining, 1000);
            updateRemaining();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
