
<!DOCTYPE html>
<html>
<head id="Head1">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta charset="utf-8" />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
        National Defence College
    </title>
    <meta content="National Defence College, NDC,New Delhi,NDC DELHI, Delhi, MPhil, Affiliated to Madras University, Defence Education, AI, warfare, modern, warfare, army, army college, raksha bhawan,civil,service,air force, navy, police" name="keywords" />
    <meta content="NDC is a pioneering institute of its type in Asia. The role of the college has remained largely unchanged since 1959, when the President of India sanctioned the setting up of a National Defence College for providing instruction to senior service and civil service officers in the wider aspects of higher direction and strategy of warfare." name="description" />
    <meta content="National Defence College, NDC,New Delhi,NDC DELHI, Delhi, MPhil, Affiliated to Madras University, Defence Education, AI, warfare, modern, warfare, army, army college, raksha bhawan,civil,service,air force, navy, police" name="DC.Subject.Keyword" />
    <meta content="NDC is a pioneering institute of its type in Asia. The role of the college has remained largely unchanged since 1959, when the President of India sanctioned the setting up of a National Defence College for providing instruction to senior service and civil service officers in the wider aspects of higher direction and strategy of warfare." name="NDC.Description" />
    <link rel="stylesheet" type="text/css" href="~/Component/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Member/Component/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Member/Component/css/index.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Member/Component/css/main.css" />

    <link rel="stylesheet" href="/Component/css/gallery/css/animate.min.css" />
    <link rel="stylesheet" href="/Component/css/gallery/css/jquery.desoslide.min.css">
    <link href="/Component/custom/css/intlTelInput.css" rel="stylesheet" />
    <link href="/Component/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <!-- Color Theme CSS -->
    <link rel="icon" href="/images/NDC-Logo.png" type="image/x-icon">


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
    @Styles.Render("~/bundles/toastr/css")
    <style type="text/css">
        .menuchang {
            background-image: url('images/new.gif');
            background-repeat: no-repeat;
            padding-right: 5px;
            background-position: top;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            background-color: #0061f1;
            font-size: 1.3em;
        }

        .nav-tabs .nav-link {
            border: 1px solid #c9d9ef;
            background-color: #eaf8f7;
        }

        .form-control {
            font-size: 1.0em;
        }

        .nav-tabs .nav-link {
            padding: .8rem 2rem;
        }

        label {
            font-weight: 400;
        }

        table tr th {
            background-color: #fff;
            color: #353535;
            text-align: center;
        }

        .top-header {
            background-color: #9b030c;
            padding: 10px 20px;
            color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 60px;
            z-index: 1000;
        }

        .sidebar {
            position: fixed;
            top: 50px;
            left: 0;
            width: 220px;
            bottom: 40px;
            background-color: #9b030c;
            color: #fff;
            overflow-y: auto;
            transition: all 0.3s ease;
        }

            .sidebar.collapsed {
                margin-left: -220px; /* hide sidebar */
            }

        .main-area {
            margin-left: 220px;
            margin-top: 50px;
            transition: all 0.3s ease;
        }

            .main-area.expanded {
                margin-left: 0; /* full width when sidebar hidden */
            }


        .sidebar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .sidebar li {
            position: relative;
        }

        .sidebar a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px;
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            font-size: 14px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

            .sidebar a .arrow {
                transition: transform 0.3s ease;
                font-size: 12px;
            }

            .sidebar a:hover {
                background-color: #b11c1c;
            }

        .sidebar .has-sub ul {
            display: none;
            padding-left: 0;
            background: #7a020a;
        }

            .sidebar .has-sub ul li a {
                font-size: 13px;
                padding-left: 25px;
                border-bottom: 1px solid rgba(255,255,255,0.1);
                background: #7a020a;
            }

                .sidebar .has-sub ul li a:hover {
                    background: #a83232;
                }

        .sidebar .has-sub.open > a .arrow {
            transform: rotate(90deg);
        }

        .main-area {
            margin-left: 220px;
            margin-top: 50px;
        }
    </style>
</head>




<body id="fontSize">
    @*@Html.Partial("_Header")*@

    <div class="top-header d-flex align-items-center justify-content-between">
        <div>
            <button id="sidebarToggle" class="btn btn-sm btn-light me-2">
                <i class="fa fa-bars"></i>
            </button>
            <span>National Defence College</span>
        </div>
        <div>
            <!-- You can keep logout/user menu here if needed -->
        </div>
    </div>
    <div class="mean-container">
    </div>
    @if (ViewBag.SiteMenuItems != null)
    {
        @Html.Partial("_UserMenu");
    }
    <!-- Menu Part End -->
    <div class="clearfix">
    </div>
    <div class="main-area">
        @Html.Partial("_Notifications")

        <div class="container-fluid">
            @RenderBody()
        </div>

        @Html.Partial("_Footer")
    </div>
    <!-- Core JS -->
  

    <script src="~/Component/js/jquery/jquery-3.7.1.min.js"></script>

    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">

    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script src="~/Component/js/bootstrap.bundle.min.js"></script>

    <!-- Plugins -->
    <script src="~/Component/js/jquery.flexisel.js"></script>
    <script src="~/Component/js/jquery.cycle.all.min.js"></script>
    <script src="~/Component/js/superfish.min.js"></script>
    <script src="~/Component/js/imagelightbox.min.js"></script>
    <script src="~/Component/js/jquery.meanmenu.js"></script>


    <!-- Toastr -->
    <script src="~/Component/js/toastr.min.js"></script>
    @*<script src="~/Component/js/toastr-config.js"></script>*@
    <!-- Custom -->
    <script src="~/Component/js/custom.js"></script>
    <script src="~/Component/js/font-size.js"></script>
    <script src="~/Component/dataTable4/js/select2.min.js"></script>
    <script src="~/Component/dataTable4/js/jquery.dataTables.min.js"></script>
    <script src="~/Component/js/ace-responsive-menu.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    @*@Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/custom")
        @Scripts.Render("~/bundles/toastr")*@


    @*<script>
            toastrOptDefault();
        </script>*@
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleBtn = document.getElementById("sidebarToggle");
            const sidebar = document.querySelector(".sidebar");
            const mainArea = document.querySelector(".main-area");

            // Sidebar collapse/expand
            if (toggleBtn && sidebar && mainArea) {
                toggleBtn.addEventListener("click", function () {
                    sidebar.classList.toggle("collapsed");
                    mainArea.classList.toggle("expanded");
                });
            }

            // Submenu toggle (for NDC Connect etc.)
            document.querySelectorAll(".sidebar .has-sub > a").forEach(menu => {
                menu.addEventListener("click", function (e) {
                    e.preventDefault();
                    let parent = this.parentElement;
                    let submenu = parent.querySelector("ul");

                    // Close other submenus
                    document.querySelectorAll(".sidebar .has-sub").forEach(el => {
                        if (el !== parent) {
                            el.classList.remove("open");
                            let sub = el.querySelector("ul");
                            if (sub) sub.style.display = "none";
                        }
                    });

                    // Toggle this submenu
                    if (parent.classList.contains("open")) {
                        submenu.style.display = "none";
                        parent.classList.remove("open");
                    } else {
                        submenu.style.display = "block";
                        parent.classList.add("open");
                    }
                });
            });
        });
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>
