@model IEnumerable<NDCWeb.Areas.Member.View_Models.CrsMemberPersonalVM>
@{
    ViewBag.Title = "Participant of NDC Course";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
<div class="container mt-4">
    <div class="panel-heading border-bottom">
        <h3 class="h3 text-primary">Coursemates of NDC @ViewBag.Course course</h3>
    </div>
    @using (Html.BeginForm("participant", "connectwith", FormMethod.Post))
    {
        <div class="card-block">
            <div class='form-group row'>
                <div class="col-md-8">
                    <label class="col-form-label">Search Text</label>
                    <input type="text" name="searchText" placeholder="Search by Name, Email or MobileNo " class="form-control" required />
                </div>
                <div class="col-md-2">
                    <label class="col-form-label col-md-4">&nbsp;.</label>
                    <button type="submit" value="OK" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Search </button>
                </div>
            </div>
        </div>
    }
    <div class="card-body">
        @foreach (var item in Model)
        {
        <table class="table table-info">
            <tr>
                <td rowspan="6" width="180">
                    <img src="@Url.Content(item.MemberImgPath ?? "/Areas/Member/Component/images/avatars/profile-blank.png")" height="120" alt="@item.FirstName @item.Surname">
                </td>
            </tr>
            <tr>
                <td width="180">Full Name</td>
                <td>@item.FirstName @item.Surname</td>
            </tr>
            <tr>
                <td>Coutry / Service</td>
                <td>@item.CitizenshipCountries.CountryName</td>
            </tr>
            <tr>
                <td> Mobile No</td>
                <td>@item.MobileNo</td>
            </tr>
            <tr>
                <td>Email Id</td>
                <td>@item.EmailId</td>
            </tr>
            @*<tr>
                <td>Address</td>
            <td>@item.CommunicationAddress</td>
        </tr>*@
        </table>
            <br />
        }
    </div>        <div class="panel-footer mb-4 text-center">
        <a href="/member/home/" class="btn btn-primary"> Back</a>
    </div>
</div>
