@{
    ViewBag.Title = "Directorate General Resettlement";
}
<link rel="stylesheet" type="text/css" href="~/Component/css/index.css" />
<script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<section class="banner_bg">
    <div class="container-fluid">

        <div class="col-md-9 col-sm-12 col-xs-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class='item active'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/23072020-1.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Mini Job Fair 2020</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/pic-1.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/pic-2.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>

                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/23072020-2.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Mini Job Fair 2020</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/1.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Mini Job Fair 2020</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/2.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/3.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/4.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/5.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/6.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='~/WriteReadData/Banner/2020/Jul/7.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='/WriteReadData/Banner/2020/Jul/8.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Directorate of Resettlement Zone (North) under the aegis of Directorate General Resettlement (DGR) inaugurated “First of Kind” Information and Awareness Hall at Udhampur, 07 Jul 2020.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='/WriteReadData/Banner/2020/Jul/9.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>“FIRST OF KIND” INFORMATION AND AWARENESS HALL, 07 Jul 2020.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img class="img-responsive" src='/WriteReadData/Banner/2020/Apr/113.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Maj Gen MK Sagoch DG (R), Presenting DG's Commendation Card, in Udhampur.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img src='/WriteReadData/Banner/2020/Apr/111.png' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Maj Gen MK Sagoch DG (R), Visit to Department of Sainik Welfare (DESW), in Jammu.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img src='/WriteReadData/Banner/2020/Apr/112.png' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Maj Gen MK Sagoch DG (R), Interacting with Proprietors of DGR Sponsored Security Agency, in New Delhi.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img src='~/WriteReadData/Banner/2020/Apr/114.png' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Maj Gen MK Sagoch DG (R), Visits Army Placement Node in Jammu.</p>

                        </div>
                    </div>
                    <div class='item'>
                        <img src='~/WriteReadData/Banner/2020/Apr/115.png' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Maj Gen MK Sagoch DG (R), With staff in at DRZ(N), Udhampur.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img src='~/WriteReadData/Banner/2020/Apr/116.jpg' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>Maj Gen MK Sagoch DG (R), Inspecting office of DGR Sponsored Security Agenocy at Jammu.</p>
                        </div>
                    </div>
                    <div class='item'>
                        <img src='~/WriteReadData/Banner/2020/Apr/117.png' alt='Banner' title='Banner'>
                        <div class='carousel-caption'>
                            <p>...</p>

                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            @*<div class="text-center res-shadow">
                <img src="images/shadow-banner.png" alt="" title="">
            </div>*@
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12" style="margin-left:0px !important;padding-left:0px !important">
            <div class="latest_webcast mb10 pt5">
                <script>
                    jQuery.fn.liScroll = function (settings) {
                        settings = jQuery.extend({
                            travelocity: 0.03
                        }, settings);
                        return this.each(function () {
                            var $strip = jQuery(this);
                            $strip.addClass("newsticker")
                            var stripHeight = 1;
                            $strip.find("li").each(function (i) {
                                stripHeight += jQuery(this, i).outerHeight(true); // thanks to Michael Haszprunar and Fabien Volpi
                            });
                            var $mask = $strip.wrap("<div class='mask'></div>");
                            var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");
                            var containerHeight = $strip.parent().parent().height();	//a.k.a. 'mask' width
                            $strip.height(stripHeight);
                            var totalTravel = stripHeight;
                            var defTiming = totalTravel / settings.travelocity;	// thanks to Scott Waye
                            function scrollnews(spazio, tempo) {
                                $strip.animate({ top: '-=' + spazio }, tempo, "linear", function () { $strip.css("top", containerHeight); scrollnews(totalTravel, defTiming); });
                            }
                            scrollnews(totalTravel, defTiming);
                            $strip.hover(function () {
                                jQuery(this).stop();
                            },
                                function () {
                                    var offset = jQuery(this).offset();
                                    var residualSpace = offset.top + stripHeight;
                                    var residualTime = residualSpace / settings.travelocity;
                                    scrollnews(residualSpace, residualTime);
                                });
                        });
                    };

                    $(function () {
                        $("ul#ticker01").liScroll();
                    });

/**/</script>
                <style>
                    .holder {
                        /*background-color: #ccc;
                            width: 300px;
                            height: 250px;
                            overflow: hidden;
                            padding: 10px;*/
                        font-family: Segoe UI;
                        color: darkred;
                        cursor: default;
                        font-weight: 600;
                        overflow: hidden;
                        padding: 7px 10px 0;
                        width: 100%;
                        height: 352px;
                        font-size: 1.111em;
                    }

                        .holder .mask {
                            position: relative;
                            left: 0px;
                            top: 10px;
                            /*width: 100%;
                                height: 320px;*/
                            overflow: hidden;
                        }

                        .holder ul {
                            list-style-type: disc !important;
                            list-style-position: inside;
                            margin: 0;
                            padding: 0;
                            position: relative;
                        }

                            .holder ul li {
                                padding: 10px 0px;
                            }

                        .holder li > ul > li {
                        }

                        .holder ul li a {
                            color: darkred;
                            text-decoration: none;
                        }

                        .holder li > ul > li a {
                            color: darkred;
                            text-decoration: none;
                        }

                    .whatsnew {
                        /*background-color: #ccc;
                            width: 300px;
                            height: 250px;
                            overflow: hidden;
                            padding: 10px;
                            font-family: Helvetica;*/
                        color: #402726;
                        cursor: default;
                        font-weight: 400;
                        overflow: hidden;
                        padding: 7px 10px 0;
                        width: 100%;
                        height: 202px
                    }

                        .whatsnew .mask {
                            position: relative;
                            left: 0px;
                            top: 10px;
                            height: 142px;
                            /*width: 100%;
                                height: 320px;*/
                            overflow: hidden;
                        }

                        .whatsnew ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            position: relative;
                        }

                            .whatsnew ul li {
                                padding: 10px 0px;
                            }

                                .whatsnew ul li a {
                                    color: #21287d;
                                    font-weight: 600;
                                    text-decoration: none;
                                }
                </style>
                <h3 style="background:#fff; border:2px solid #008000; color:#000">
                    <a href='@Url.Action("ArticleFilter","News")' style="color:#000;"><i class='fa fa-newspaper-o'></i></a> Bulletin<span class='pull-right'><a href='#'>+</a></span>
                </h3>
                <div class="writebox" style="border:1px #fff !important">
                    <div class="holder">
                        <ul id="ticker01">
                            @foreach (var item in ViewBag.NewsBulletin)
                            {
                                <li><a href="@Url.Action("Article", "News", new { id = item.NewsArticleId })"><text>@item.Headline</text></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="" id="main-nav">
    <div class="newsWrap">
        <div class="container-fluid">
            <div class="news">
                <span class="newsTxt">What's New</span>
                <div id="js_slider">
                    <div class="ticker">
                        <div class="tickerDivBlock">
                            <ul id="newsTicker">
                                @foreach (var item in ViewBag.WhatsNew)
                                {
                                <li id="s_0">
                                    <a href="@Url.Action("Article", "News", new { id = item.NewsArticleId })">@Html.Raw(@item.Headline)</a>
                                </li>
                                }

                                @*<li id="s_0">*@
                                    @*<div class="date">
                <span class="md"> 03 May</span>
                <span class="year"> 2020</span>
            </div>*@

                                    @*<a href="#">
                                        In view of outbreak of COVID-19/corona virus issue of empanelment certificates for all DGR schemes have been suspended till 31 May 2020. Fresh orders on the subject shall be issued on/by 31 May 2020, Visitors not allowed in DGR/DRZ office till further orders due to a/m reason.
                                    </a>

                                </li>
                                <li class="s_1">
                                    <a target="_blank" href="https://www.dgrindia.com/backend/media/RTC%2020-21%20update.pdf">UPDATE: RESETTLEMENT TRAINING COURSES 2020 / 21 : View </a>
                                </li>
                                <li id="s_1">
                                    <a href="#"> Security Agency Update : DGR aims at fast-tracking the process of prepration of Empanelment Certificate(SA) to registered ESM ( Offrs) after 31 May 2020. Towards this , kindly E-mail your requisite documents ( in one lot only) to concerned state JD under intimation to respective DRZs to enable us to scrutinize them and economy of time for issue action during visit to DGR (i.e after 31 May 20).</a>
                                </li>*@
                            </ul>
                        </div>
                        <div class="controls">
                            <a href="javascript:;" class="prev" title="Previous">Previous</a>
                            <a href="#" class="playPause stop" title="Pause">Pause</a>
                            <a href="javascript:;" class="next" title="Next">Next</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</section>

<section class="" style="background-color:#e1f8f7;">
    <div class="media_bg">
        <div class="container-fluid">
            <div class="col-md-12 pt20">
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content2/schemes/security-agency">
                            <img src="~/images/security-agency.png" alt="Security Agency" title="Security Agency">
                            <div class="schemebox_title">
                                <h3>Security Agency</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content2/schemes/coal-transportation--tipper-attachment">
                            <img src="~/images/coal-transportation.jpg" alt="Coal Transportation & Tipper Attachment" title="Coal Transportation & Tipper Attachment">
                            <div class="schemebox_title">
                                <h3>Coal Transportation <br /> Tipper Attachment</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content2/schemes/management-of-cng-stations">
                            <img src="~/images/cng-station.jpg" alt="Management of CNG Stations" title="Management of CNG Stations">
                            <div class="schemebox_title">
                                <h3>Management of CNG Stations</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content2/schemes/retail-outlet-dealership">
                            <img src="~/images/retail-outlet-dealership.jpg" alt="Retail Outlet Dealership" title="Retail Outlet Dealership">
                            <div class="schemebox_title">
                                <h3>Retail Outlet Dealership</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content2/schemes/mother-dairy--safal-outlets" title="Mother Dairy">
                            <img src="~/images/mother-dairy-safal.png" alt="Mother Dairy" title="Mother Dairy">
                            <div class="schemebox_title">
                                <h3>Mother Dairy</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content2/schemes/tech-services" title="Tech Services">
                            <img src="~/images/Technical_Services.jpg" alt="Tech Services" title="Tech Services">
                            <div class="schemebox_title">
                                <h3>Tech Services</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content1/training" title="DGR Sponsored Courses">
                            <img src="~/images/course-degree.jpg" alt="DGR Sponsored Courses" title="DGR Sponsored Courses">
                            <div class="schemebox_title">
                                <h3>DGR Sponsored Courses</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="schemebox">
                        <a href="/Content1/job-assistance" title="Available Jobs">
                            @*<a href="/Content2/opportunities/vacancy-notifications-for-jcos-or" title="Accreditation">JCOs/OR</a>*@
                            <img src="~/images/Job-Vacancy.jpg" alt="Available Jobs" title="Available Jobs">
                            <div class="schemebox_title">
                                <h3>Available Jobs</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid">
        <div class="col-md-5 pt10" style="background-color:#f2f2f2 !important">
            <!--style="background-color:#d1d3d4 !important"-->
            <div class="col-md-6 col-sm-6">
                <div class="lederbox">
                    <a href="https://mod.gov.in/Shri%20Rajnath%20Singh" title="Shri Rajnath Singh" style="margin-top:10px !important;" onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">
                        <img src="~/WriteReadData/Images/RM_0_1.jpg" alt="Hon'ble Raksha Mantri" title="Shri Rajnath Singh">
                    </a>
                        <div class="lederbox_title">
                            <h4>
                                Hon'ble Raksha Mantri
                            </h4>
                            <span>Shri Rajnath Singh</span>

                        </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="lederbox">
                    <a href="https://mod.gov.in/Shri%20Shripad%20Yesso%20Naik" title="Shri Shripad Yesso Naik" onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">
                        <img src="~/WriteReadData/Images/RRM_1_1.jpg" alt="Hon'ble Raksha Rajya Mantri" title="Shri Shripad Yesso Naik"></a>
                        <div class="lederbox_title">
                            <h4>
                                Hon'ble Raksha Rajya Mantri
                            </h4>
                            <span>Shri Shripad Yesso Naik </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="lederbox">
                    <a href="https://supremo.nic.in/ERSheetHtml.aspx?OffIDErhtml=14480&Pageld=" title="Shri Ravi Kant IAS" onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">
                        <img src="~/WriteReadData/Images/RAVI_KANT_IAS.jpg" alt="Shri Ravi Kant IAS" title="Shri Ravi Kant IAS">
                    </a>
                    <div class="lederbox_title">
                        <h4>
                            Secretary (ESW)
                        </h4>
                        <span>Shri Ravi Kant IAS</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6"> 
                <div class="lederbox">
                    <a href="/Content2/dg/maj-gen-mk-sagoch" title="Maj Gen MK Sagoch">
                        <img src="~/WriteReadData/Images/dgrphoto.png" alt="DG, Resettlement" title="Maj Gen MK Sagoch"></a>
                        <div class="lederbox_title">
                            <h4>
                                DG, Resettlement
                            </h4>
                            <span>Maj Gen MK Sagoch</span>
                        </div>
</div>
            </div>
        </div>
        @*<div class="col-md-7" style="background:url(../images/gallery-bg.png)">*@
        <div class="col-md-7" style="background:#171040">
            <div id="gallery-wrapper" class="pt15 pb10">
                <article class="col-lg-10 col-md-11">
                    
                        <div class="gallery-heading">
                            <h3>Photo Gallery</h3>
                            <a class="bttn-more bttn-view" href='@Url.Action("Gallery")' title="View All" role="link"><span>View All</span></a>
                        </div>
                        <div id="slideshow" class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3 text-center">
                            <ul id="slideshow_thumbs" class="desoslide-thumbs-vertical list-inline">
                                <li>
                                    <a href="~/WriteReadData/Gallery/PhotoGallery/2020/May/110.jpeg">
                                        <img src="~/WriteReadData/Gallery/PhotoGallery/2020/May/110-thumb.jpeg" alt="DG(R)" title="DG(R)">
                                    </a>
                                </li>
                                <li>
                                    <a href="~/WriteReadData/Gallery/PhotoGallery/2020/May/111.jpg">
                                        <img src="~/WriteReadData/Gallery/PhotoGallery/2020/May/111-thumb.jpg" alt="DG(R)">
                                    </a>
                                </li>
                                <li>
                                    <a href="~/WriteReadData/Gallery/PhotoGallery/2020/May/112.jpg">
                                        <img src="~/WriteReadData/Gallery/PhotoGallery/2020/May/112-thumb.jpg" alt="DG(R)">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    
                </article>
            </div>
        </div>
    </div>
</section>
<section class="pt10">
    <div class="" style="background:#fff !important">
        <div class="container-fluid">
            
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="features_box" style="background-color:#fff !important; border:none !important">
                        <nav>
                            <ul id="respMenu" class="ace-responsive-menu collapse hide-menu" data-menu-style="">
                                <li><a class="" target='_blank' href="http://ksb.gov.in/welfare-schemes.htm" onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">WELFARE SCHEMES</a></li>
                                <li><a class="" target='_blank' href="http://ksb.gov.in/educational-concessions.htm" onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">BENEFITS</a></li>
                                <li><a href='/content2/misc-links/rti'>RTI</a></li>
                                <li><a class="" href="/home/downloads">DOWNLOADS</a></li>
                                <li><a href='/home/mediagallery'>MEDIA GALLERY</a></li>
                                <li>
                                    <a target='_self'>PUBLICATIONS</a>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href=''>SAINIK PUNARVAS PATRIKA</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='http://sainiksamachar.nic.in/' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">SAINIK SAMACHAR</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='https://drive.google.com/file/d/1WA8hGhyVeTmVWseRQyehwpQNr0mFD5oY/view' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">SAMMAN</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='https://indianarmy.nic.in/publications/baatcheet/' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">BAATCHEET</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='https://www.iafpensioners.gov.in/images/pdf/Final%20Vayu%20Samvedna%20VOL%2015.pdf' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">VAYU SAMVEDNA</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='#' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">MIL ARTICLES</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='https://usiofindia.org/journals/S' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">USI PUBLICATIONS</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='https://www.claws.in/publications/' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">CLAWS JOURNAL</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='http://ksb.gov.in/ksb-library.htm' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">SAINIK E-LIBRARY</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='#' onclick="return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">MILITARY DROODES</a></li>
                                    </ul>
                                    <ul class='sub-menu'>
                                        <li><a target='_blank' href='~/WriteReadData/Content/drz-central/Documents/Information Brochure (English).pdf'>INFO BROCHURE DGR</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pt10">
                    <div class="imp-links">
                        <h3 class="title  text-center">Important Links</h3>                        
                            <div class="col-md-6 col-sm-12">
                                <div class="imgBox" style="border:1px solid #258a82; margin:5px 0 10px 0;">
                                    <nav>
                                        <ul id="respMenu" class="ace-responsive-menu collapse hide-menu" data-menu-style="">
                                            <li><a target='_blank' href='http://desw.gov.in/' title="DEPARTMENT OF EX-SERVICEMEN WELFARE" onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Department of Ex-servicemen Welfare(DESW)</a></li>
                                            <li><a target='_blank' href='http://ksb.gov.in/' title="KSB" onclick="javascript:return confirm('This link will take you to a webpage outside this website. Click OK to continue.Click Cancel to stop')">Kendriya Sainik Board (KSB)</a></li>
                                            <li>af</li>
                                            <li><a target='_blank' href='http://mod.gov.in/' title="Ministry of Defence" onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">Ministry of Defence (MoD)</a></li>
                                            <li><a target='_blank' href='http://indianarmyveterans.gov.in/' title='Indian Army Veterans Portal (DIAV)' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">DIAV (Army Veterans)</a></li>
                                            <li><a target='_blank' href='http://indianairforce.nic.in/content/dte-air-veterans/' title='DTE OF AIRFORCE VETERANS (DAV)' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">DAV (Airforce Veterans)</a></li>
                                            <li><a target='_blank' href='http://indiannavy.nic.in/desa/home' title="Directorate of Ex-Servicemen Affairs" onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">DESA (Navy Veterans)</a></li>
                                            <li><a target='_blank' href='http://rodra.gov.in/' title='Retired Officers Digital Records Archive (RODRA)' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Retired Officers Digital Records Archive (RODRA)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                @*<div class="imgBox" style="border:1px solid #258a82; margin:5px 0 5px 0">
                                    <nav>
                                        <ul id="respMenu" class="ace-responsive-menu collapse hide-menu" data-menu-style="">
                                            <li><a target='_blank' href='https://indianarmyveterans.gov.in/' title='Indian Army Veterans Portal (DIAV)' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">DIAV (Army Veterans)</a></li>
                                            <li><a target='_blank' href='https://indianairforce.nic.in/content/dte-air-veterans/' title='DTE OF AIRFORCE VETERANS (DAV)' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">DAV (Airforce Veterans)</a></li>
                                            <li><a target='_blank' href='https://indiannavy.nic.in/desa/home' title="Directorate of Ex-Servicemen Affairs" onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">DESA (Navy Veterans)</a></li>
                                            <li><a target='_blank' href='https://rodra.gov.in/' title='Retired Officers Digital Records Archive (RODRA)' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Retired Officers Digital Records Archive (RODRA)</a></li>

                                        </ul>
                                    </nav>
                                </div>*@
                                </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="imgBox" style="border:1px solid #258a82; margin:5px 0 5px 0">
                                    <nav>
                                        <ul id="respMenu" class="ace-responsive-menu collapse hide-menu" data-menu-style="">
                                            <li><a target='_blank' href='http://exarmynaukri.com/' title="Army Welfare Placement Organisation(AWPO)" onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">Army Welfare Placement Organisation (AWPO)</a></li>
                                            <li><a target='_black' href='http://iafpc.co.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Indian Airforce Placement Cell</a></li>
                                            <li><a target='_black' href='http://indiannavy.nic.in/inpa/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">Indian Naval Placement Agency</a></li>
                                            <li><a target='_black' href='http://pcdapension.nic.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> PCDA (Pension)</a></li>
                                            <li><a target='_black' href='http://indianarmy.nic.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Indian Army </a></li>
                                            <li><a target='_black' href='http://indianairforce.nic.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Indian Airforce </a></li>
                                            <li><a target='_black' href='http://indiannavy.nic.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> Indian Navy </a></li>
                                            <li><a target='_black' href='http://nationalwarmemorial.gov.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');"> National War Memorial </a></li>
                                            <li><a target='_black' href='http://employmentnews.gov.in/' onclick="javascript:return confirm( 'This link shall take you to an external website. Click OK to continue.Click Cancel to stop');">Employment News</a></li>
                                        </ul>
                                    </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-md-3 pt10">
                    <div class="twitter">
                        <h3 class="title"><a class="twitter-follow-button" href="https://twitter.com/DGRIndia?ref_src=twsrc%5Etfw" data-size="small" data-show-screen-name="false">Follow DGRIndia</a></h3>
                        <div class="imgBox" style="padding-bottom:48px">
                            <div>
                                <a class="twitter-timeline .fixed-panel"
                                   href="https://twitter.com/DGRIndia?ref_src=twsrc%5Etfw"
                                   data-chrome="noheader nofooter"
                                   data-height="300">
                                </a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>

                    @*<div class="row" style="margin-left: 15px !important;">
                <div class="latest_webcast pt10">
                    <h3><i class='fa fa-youtube'></i> DGR on Youtube <span class='pull-right'></span></h3>
                    <iframe width='100%' src='https://www.youtube.com/embed/Fjx0HEUdiNU' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>*@
                </div>

            
        </div>
    </div>
</section>
<section class="logos_scroller">
    <div class="container-fluid">
        <ul id="flexiselDemo3">
            <li><a href='http://eci.gov.in/' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='/WriteReadData//images/eci_0.png' alt="abc" title="Election Commission of India "> </a></li>
            <li><a href='http://egazette.nic.in/' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='/WriteReadData//images/e-gazette_0.png' alt="abc" title="E Gazette India "> </a></li>
            <li><a href='https://pmnrf.gov.in/' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='/WriteReadData//images/pmnrf.png' alt="abc" title="Prime Minister&#039;s National Relief Fund "> </a></li>
            <li><a href='http://www.makeinindia.com/home' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='/WriteReadData//images/makeinindia_0.png' alt="abc" title="Make in India "> </a></li>
            <li><a href='http://pgportal.gov.in/' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='/WriteReadData//images/pg-portal_0.png' alt="abc" title="Grievance Redress Mechanism in Government "> </a></li>
            <li><a href='http://goidirectory.nic.in/' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='/WriteReadData//images/goidirectory_0.png' alt="abc" title="Goi Web Directory "> </a></li>
            <li><a href='http://indianarmy.nic.in/' target="_blank" onclick="return confirm('This link will take you to a webpage outside this websiteinteractive page. Click OK to continue.Click Cancel to stop')"><img src='https://indianarmy.nic.in/assets/img/presets/preset1/logo_light.png' alt="Indian Army" title="Indian Army "> </a></li>
        </ul>
    </div>
</section>
<div class="modal fade" id="security" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog modal-lg" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Post Grievances</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><img class="imgBox" src="~/WriteReadData/Images/Post_Grievance.png" /></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div></div></div></div>
<div class="modal fade" id="trackgrievance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog modal-lg" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Track Grievances</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><img class="imgBox" src="~/WriteReadData/Images/track_grievance.png" /></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div></div></div></div>
@section scripts{
    <script src="~/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            CustGallery();
        });
    </script>
}